:root {
  --catskill: #f2f4f8;
  --main-blue: #0297d4;
  --dark: #131515;
  --yellow: #ffcd00;
  --white: #fff;
}

:root {
  --font-family: "SF Pro Text", sans-serif;
  --second-family: "SF Pro Rounded", sans-serif;
}